<!DOCTYPE html>
<html>
<head>
  <title>Web Tool</title>
  <script src="{{ static_url('js/vue.js') }}"></script>
</head>
<body>
  <div id="app">
    <p>是否设置{[ message ]}为新IP</p>
    <textarea v-model="message"></textarea>
    <button v-on:click="setting">设置</button>
    <button v-on:click="clean">清除</button>
    <select v-model="one">
      <option v-for="x in shuju">{[x]}</option>
    </select><br>
    <div>
      <span>当前选中命令：{[one]}</span>
    </div>
    <pre>{[ output ]}</pre>
  </div>
  <script>
    var app = new Vue({
        delimiters: ['{[', ']}'],
        el: '#app',
        data: {
            message: '',
            output: '',
            shuju: ['ipconfig'],
            one: ''
        },
        methods: {
            setting: function () {
              ws.send(this.message+'\n')
              var find = this.shuju.find((item) => {
                console.log(item)
                return item === this.message
              })
              if(find == undefined) {
                this.shuju.push(this.message)
              }
            },
            clean: function () {
              this.output = ''
            }
        },
        watch : {
          "one"(newVal, oldVal) {
            this.message = newVal
          }
        }
    })
    var ws = new WebSocket('ws://iwynn.xicp.net:3000/terminals/')
    ws.onopen = function(evt) { 
      console.log("Connection open ..."); 
      //ws.send("Hello WebSockets!");
    };

    ws.onmessage = function(evt) {
      console.log( "Received Message: " + evt.data);
      //ws.close();
      app.output += '\n'+evt.data
    };

    ws.onclose = function(evt) {
      console.log("Connection closed.");
    };    
  </script>
</body>
</html>
