<!DOCTYPE html>
<html>
<head>
  <title>Web Tool</title>
  <script src="js/vue.js"></script>
</head>
<body>
  <div id="app">
    <p>是否设置{{ message }}为新IP</p>
    <input v-model="message">
    <button v-on:click="setting">设置</button>
    <button v-on:click="clean">清除</button>
    <select v-model="one">
      <option v-for="x in shuju">{{x}}</option>
    </select><br>
    <div>
      <span>当前选中命令：{{one}}</span>
    </div>
    <pre>{{ output }}</pre>
  </div>

  <script>
    var app = new Vue({
        el: '#app',
        data: {
            message: '192.168.0.1',
            output: '',
            shuju: ['ipconfig\n'],
            one: ''
        },
        methods: {
            setting: function () {
              ws.send(this.message+'\n')
              this.shuju.append(this.message)
            },
            clean: function () {
              this.output = ''
            }
        }
    })
    var ws = new WebSocket('ws://127.0.0.1:3000/terminals/')
    ws.onopen = function(evt) { 
      console.log("Connection open ..."); 
      //ws.send("Hello WebSockets!");
    };

    ws.onmessage = function(evt) {
      console.log( "Received Message: " + evt.data);
      //ws.close();
      app.output += '\n'+evt.data
    };

    ws.onclose = function(evt) {
      console.log("Connection closed.");
    };    
  </script>
</body>
</html>
